
.board_div {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}
.board_div > button {
    width: 7rem;
    height: 2rem;
    align-self: flex-start;
}
.write_overlay {
    width: 100vw;
    height: 100vw;
    background-color: rgb(21, 22, 22);
    opacity: 0.5;
    position: fixed;
    top: 0;
}

.write_div {
    top: 10rem;
    left: 30%;
    margin-bottom: 10rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 2rem 2rem;
    position: fixed;
    background-color: rgb(255, 255, 255);
}
.close_write {
    position: absolute;
    top: -1%;
    right: -1%;
    width: 2rem;
    height: 2rem;
    border-style: solid;
    background-color: white;
    border-radius: 2rem;
}
.cat_div {
    width: 30rem;
    padding: 1rem;
    display: flex;
}
.cat_Label {
    margin-right: 2rem;
}
textarea {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 30rem;
    height: 10rem;
    resize: none;
    padding: 1rem;
}
.submit_write {
    width: 7rem;
    height: 2rem;
}
.post_Container {
    width: 100%;
    height: max-content;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-style: solid;
    border-width: 1px;
    border-radius: .5rem;
}
.post_Header {
    display: flex;
    background-color: bisque;
    padding: .5rem 2rem;
}
.post_Category {
    margin-left: 2rem;
    background-color: antiquewhite;
    padding: 0 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
    width: max-content;
    height: max-content;
}
.post_Text_Container {
    width: 100%;
    height: max-content;
    padding: 2rem 0;
}